* {
  box-sizing: border-box;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #212121;
}

img {
  display: block;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

.container {
  max-width: 1600px;
  padding-left: 15px;
  padding-right: 15px;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-left: 45%;
}

.gallery {
  margin-left: -20px;
  margin-top: -20px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.photo-card {
  max-width: 370px;
  margin-left: 20px;
  margin-top: 20px;
  flex-basis: calc(100% / 4 - 20px);
  transition: transform 500ms;
}

.photo-card:hover {
  transform: scale(1.03);
}

.info {
  display: flex;
  background-color: rgb(243, 235, 235);
  text-align: center;
}

.search-form {
  display: flex;
  justify-content: center;
  height: 30px;
}

.load-more {
  height: 40px;
  width: 120px;
  margin-left: 45%;
}
